/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// APP
//
*/ //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



    ///////////////////////////////////
    // FONT
    ///////////////////////////////////

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    
    $fontFamily: 'Roboto', sans-serif;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: $fontFamily;
    }

    $color1: #ff5e5e;

    @import "components/test";